<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">NewStore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Chat</a>
        </li>
      </ul>
    </div>

    <div class="d-flex me-3 pt-2">
      <h6>{{first_name}} {{last_name}} <span class="{{roleClass}} shadow-sm">{{role}}</span></h6>
    </div>
    <div class="d-flex">
        <button class="btn btn-outline-success" onclick="location.href='/api/sessions/logout'">Logout</button>
    </div>
  </div>
</nav>

<div class="container">
    <h1 class="mt-4">Community Chat</h1>

    <div class="row">
        <div class="col-md-8">

            <div class="mt-4 mensajes">
                <p class="mensaje" id="messageLogs"></p>
            </div>

            <div class="mt-4">
                <label for="chatBox" class="form-label">Send a message!</label>
                <input class="form-control" type="text" id="chatBox" placeholder="Press ENTER to send the message">
            </div>
        </div>

        <div class="col-md-4" >
            <div class="card mt-4">
                <div class="card-header">
                    Last connections:
                </div>
                <ul class="list-group list-group-flush" id="enLinea">
                </ul>
            </div>
        </div>

    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js"
        integrity="sha512-AI5A3zIoeRSEEX9z3Vyir8NqSMC1pY7r5h2cE+9J6FLsoEmSSGLFaqMQw8SWvoONXogkfFrkQiJfLeHLz3+HOg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/chat.js"></script>