{{> navbar}}

<div class="container">
    <h2 class="my-4 text-center">Community Chat</h2>

    <div class="row border rounded-3 bg-light p-4 shadow-sm">
        <div class="col-md-8 order-2 order-md-1 mt-2 mt-md-0">
            <div class="border rounded-3  bg-body p-3 shadow-sm" >
                <ul class="list-unstyled list-group p-4 py-3" id="messageLogs" style="height: 20em; overflow-y: scroll;"></ul>
            </div>

            <form id="chatForm" class="mt-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Write a message..." name="message">
                    <button class="btn btn-outline-secondary" type="submit">Send</button>
                </div>
            </form>

        </div>

        <div class="col-md-4 order-1 order-md-2" >
            <div class="card shadow-sm">
                <div class="card-header bg-light">
                    <span class="fw-semibold">Last connections:</span>
                </div>
                <ul class="list-group list-group-flush" id="enLinea">
                </ul>
            </div>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js"
  integrity="sha512-AI5A3zIoeRSEEX9z3Vyir8NqSMC1pY7r5h2cE+9J6FLsoEmSSGLFaqMQw8SWvoONXogkfFrkQiJfLeHLz3+HOg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/chat.js"></script>