<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">NewStore</a>
    <div class="d-flex align-items-center me-3">
        <span class="px-3  fw-medium">Don't have an account?</span>
        <button class="btn btn-outline-success" onclick="location.href='/signup'">Sign Up here!</button>
    </div>
  </div>
</nav>

<div class="text-center mt-5">
    <h2>Ups! Seems like the Email or the Password are not valid...</h2>

    <button onclick="location.href='/'" class="btn btn-primary mt-3">Try Again!</button>
</div>