<nav class="navbar bg-body-tertiary bg-gradient">
  <div class="container-fluid">
    <a class="navbar-brand">NewStore</a>
    <div class="d-flex align-items-center me-3">
        <span class="px-3  fw-medium">Already have an account?</span>
        <button class="btn btn-outline-success" onclick="location.href='/'">Login here!</button>
    </div>
  </div>
</nav>

<div class="text-center mt-5">
    <h2>Ups! Seems like the Email is already used...</h2>

    <button onclick="location.href='/signup'" class="btn btn-primary mt-3">Try Again!</button>
</div>
